.footer {
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

/* centered columns styles */
.row-centered {
    text-align:center;
    margin-left: 0px;
    margin-right: 0px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.vertical-align {

}

.itemProductImage{
}

.stockStatusCol{
  width:24%;
  text-align: center;
}

.storeNameCol, .storeNameColSelection{
  width: 50%%;
}

.stockStatusCol{
  width: 50%;
}

.storeNameColSelection{
  font-weight: normal;
  font-size: medium;
}

.storeSelectorRowSelection{
  display:inline-block;
  padding: 1% 1%;
}

.stockStatusColSelection{
  padding-left: 12%;
  padding-right: 12%;
}

.custom-xs{
  display:none;
}

.storeSelectorRowSelection > label {
  display:block;
  border:solid 1px gray;
  line-height:40px;
  min-height:20px;
  max-height:40px;
  max-width: 400px;
  min-width: 250px;
  border-radius:40px;
  -webkit-font-smoothing: antialiased;
  margin-top:10px;
  font-family:Arial,Helvetica,sans-serif;
  color:gray;
  text-align:center;
}

.errorStoreSelection > input:checked + label.selectedStore:before{
  content: "\2718" !important;
}

.errorStoreSelection > input:checked + label {
  border: solid 2px red !important;
  color: red !important;
}

.errorStoreSelectionText{
  font-weight: bold;
  color: red;
}

.storeSelectorRowSelection > input[type=checkbox] {
  display: none;
}

.storeSelectorRowSelection > input:checked + label {
  border: solid 2px green;
  color: green;
  font-weight: bold;
}

.storeSelectorRowSelection > input:checked + label.selectedStore:before {
  content: "\2713";
  float: left;
  left: 5%;
  position: relative;
}

.storeSelectorRowSelection > input:checked + label.selectedStore {
  visibility: visible;
}

.storeSelectorRowSelection > input.checkbox:checked + label:before {
  content: "";
}

/* larger than phone*/
@media (min-width: 767px) {
  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

/* larger than phone & tablet */
@media (min-width: 992px) {
  .storeNameCol {
    width: 25%;
  }

  .stockStatusCol{
    width: 25%;
  }

  .row-centered {
      text-align:center;
      margin-left: -15px;
      margin-right:-15px;
  }

}

@media(max-width:767px) {
    .navbar .navbar-form {
        width : 50%;
        min-width: 165px;
        padding-left:0;
        padding-right:0;
    }

    .itemProductImage{
      width:70%;
      margin-left: 0.1em;
    }

    .product-id > td{
      padding: 0px !important;
    }

    .custom-xs{
      display:inline-block!important;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
