.footer {
  padding: 10px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.vertical-align {

}

.storeNameCol{
  width: 76%;
}

.stockStatusCol{
  width: 24%;
}

/* larger than phone*/
@media (min-width: 767px) {
  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

/* larger than phone & tablet */
@media (min-width: 992px) {
  .storeNameCol{
    width: 38%;
  }

  .stockStatusCol{
    width: 12%;
  }
}

@media(max-width:767px) {
    .navbar .navbar-form {
        width : 50%;
        min-width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
